.left-panel-background {
    height: 120vh;
    width: 50vw;
    position: absolute;
    z-index: 11;
  }
  .right-panel-background {
    height: 120vh;
    width: 50vw;
    position: absolute;
    right: 0;
    z-index: 11;
  }